$primary-color: #005aa7;
$secondary-color: #4999df;
$tertiary-color: #fffde4;
$font-family: 'Calibri';
$black-color: #000;
$white-color: #fff;
$primary-gradient: linear-gradient(to right, #005aa7, #fffde4);
$grey-color: #f2f2f2;
$disabled-field: #d2d2d2;
$splitter-color: #83bced;